@using WM.UI.Mvc.Areas.Northwind.Models

@model ProductListViewModel


@section SolTaraf{
    @Html.Action("CategoryPartialView", "Category", new { area = "Northwind" })
}

<div class="container">

    <div class="panel panel-default">

        <div class="panel panel-heading ">

            <h3>Ürün Listesi</h3>
        </div>

        <hr />
        <nav class="breadcrumb">
            @if (@Model.CurrentCategoryName != "")
            {

                @Html.ActionLink("Ürünler", "Index", "Product", new { area = "Northwind" }, new { @class = "breadcrumb-item" })
                <span class="breadcrumb-item active">@Model.CurrentCategoryName <span class="badge badge-success">@Model.TotalRows</span> </span>
            }
            else
            {
                <span class="breadcrumb-item active">Ürünler</span>

            }
        </nav>

        <div class="panel panel-body">

            <table class="table table-hover table-striped table-bordered table-sm">

                <thead class="thead-light">
                    <tr>
                        <th>Ürün Adı</th>
                        <th>Birim Fiyat</th>
                        <th>Stok Miktarı</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.Products)
                    {
                        <tr>
                            <td> @item.ProductName </td>
                            <td> @item.UnitPrice </td>
                            <td> @item.UnitsInStock </td>
                        </tr>
                    }
                </tbody>

            </table>

        </div>

    </div>


    @MyHelperMethods.Paging(CurrentCategory: @Model.CurrentCategory,
                            CurrentPage: @Model.CurrentPage,
                            PageCount: @Model.PageCount,
                            area: "northwind",
                            controller: "product",
                            action: "index")

    <span class="text-muted">
        Diplayed Page Size: @Model.PageSize
    </span>
    @*PageSize : @Model.PageSize*@


</div>

