@model IEnumerable<WM.Northwind.Entities.Concrete.EczaneNobet.EczaneNobetSonucPlanlanan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EczaneNobetGrup.Aciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NobetGorevTip.Adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Takvim.Aciklama)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EczaneNobetGrup.Aciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NobetGorevTip.Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Takvim.Aciklama)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

