@model AyniGunNobetTakipGrupAltGrupDetay

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AyniGunNobetTakipGrupAltGrup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NobetGrupAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NobetGrupAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NobetGorevTipAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NobetGorevTipAdi)
        </dd>

        <dt>
            Alt Grubu Olan Nobet Grubu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NobetGrupAdiAltGruplu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NobetAltGrupAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NobetAltGrupAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaslamaTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaslamaTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BitisTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BitisTarihi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
