@model WM.Northwind.Entities.Concrete.EczaneNobet.DebugEczane

@{
    ViewBag.Title = "Debug Eczane Düzenle |  Nöbet Yaz";
}
<h4>Debug Eczane Düzenle</h4>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="card">
        <div class="card-body">

            <div class="form-row">

                <div class="form-group col-md-4">
                    <div class="custom-control custom-checkbox mb-2">
                        @Html.CheckBox("AktifMi", new { @class = "custom-control-input" })
                        <label class="custom-control-label" for="AktifMi">Aktif Mi</label>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group" style="display:none">
            @*@Html.LabelFor(model => model.NobetUstGrupId, "Üst Grup", htmlAttributes: new { @class = "control-label col-2" })*@
            @Html.EditorFor(model => model.EczaneNobetGrupId, new { htmlAttributes = new { @class = "form-control", placeHolder = "Eczane Adı" } })
        </div>


        <div class="form-group">
            <input type="submit" value="Kaydet" class="btn btn-primary" id="btnSubmitForm" />
            @Html.ActionLink("Listeye Dön", "Index", null, new { @class = "btn btn-warning" })
        </div>

    </div>
}

