@model EczaneNobetIstek

@{
    var esGruptakiEczanelerleCakismaDurumu = new List<EczaneGrupDetay>();
    var esGruptakiCakisanEczane = new EczaneGrupDetay();

    if (ViewBag.IstekGirilenTarihtekiEsgrupOlduguEczaneler != null)
    {
        esGruptakiEczanelerleCakismaDurumu = (List<EczaneGrupDetay>)ViewBag.IstekGirilenTarihtekiEsgrupOlduguEczaneler;
    }

    ViewBag.Title = "Nöbet İstek Ekle | Nöbet Yaz";
}

<h4>Eczane Nöbet İstek Ekle</h4>
<hr />

@if (esGruptakiEczanelerleCakismaDurumu.Count == 1)
{
    <div class="row">
        <div class="col-10">
            @{
                esGruptakiCakisanEczane = @esGruptakiEczanelerleCakismaDurumu.FirstOrDefault();
            }
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="fa fa-warning"></i> Aşağıdaki istek girmeye çalıştığınız eczane
                <span class="badge badge-light">@esGruptakiCakisanEczane.EczaneGrupTanimAdi </span> eş grubundaki
                <span class="badge badge-light">@esGruptakiCakisanEczane.EczaneAdi </span> eczanesi ile
                <span class="font-weight-bold">
                    @if (@esGruptakiCakisanEczane.ArdisikNobetSayisi > 0)
                    {
                        <span class="badge badge-light">@DateTime.Today.AddDays(esGruptakiCakisanEczane.ArdisikNobetSayisi) tarihine kadar</span>
                    }
                    else
                    {
                        <span class="badge badge-light">seçtiğiniz tarih için</span>
                    }
                    çakışmaktadır.
                </span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
}
else if (esGruptakiEczanelerleCakismaDurumu.Count > 1)
{
    <div class="row">
        <div class="col-10 mb-3">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="fa fa-warning"></i> İstek girmeye çalıştığınız eczane aynı eş grubunda olan aşağıdaki eczaneler <span class="badge badge-light">@esGruptakiEczanelerleCakismaDurumu.Count </span> ile
                <span class="font-weight-bold">
                    çakışmaktadır.
                </span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <ul class="list-group">
                @foreach (var esGruptakiEczane in esGruptakiEczanelerleCakismaDurumu)
                {
                    <li class="list-group-item list-group-item-warning">
                        <span class="badge badge-light">@esGruptakiEczane.EczaneGrupTanimAdi </span> eş grubundaki
                        <span class="badge badge-light">@esGruptakiEczane.EczaneAdi </span> eczanesi ile
                        <span class="font-weight-bold">
                            @if (esGruptakiEczane.ArdisikNobetSayisi > 0)
                            {
                                <span class="badge badge-light">@DateTime.Today.AddDays(esGruptakiEczane.ArdisikNobetSayisi) tarihine kadar</span>
                            }
                            else
                            {
                                <span class="badge badge-light">seçtiğiniz tarih için</span>
                            }
                        </span>
                    </li>
                }
            </ul>
        </div>
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.EczaneNobetGrupId, "Eczane", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.DropDownList("EczaneNobetGrupId", null, htmlAttributes: new { @class = "form-control selectpicker",
               data_live_search = "true",
               data_actions_box = "true",
               title = "Eczane seçiniz..."
           })
                @Html.ValidationMessageFor(model => model.EczaneNobetGrupId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IstekId, "İstek Tipi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IstekId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IstekId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.TakvimId, "Tarih", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.DropDownList("TakvimId", null, htmlAttributes: new { @class = "form-control selectpicker",
               data_live_search = "true",
               data_actions_box = "true",
               title = "Tarih seçiniz..."
           })
                @Html.ValidationMessageFor(model => model.TakvimId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Aciklama, "Açıklama", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Aciklama, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Aciklama, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ekle" class="btn btn-primary" />
                @Html.ActionLink("Listeye Dön", "Index", null, new { @class = "btn btn-warning" })
            </div>
        </div>
    </div>
}

@section Styles{
    @Styles.Render("~/bundle/bootstrap-select/style")
}

@section Scripts{
    @Scripts.Render("~/bundle/validation/scripts")
    @Scripts.Render("~/bundle/bootstrap-select/scripts")
}
