@model WM.Northwind.Entities.ComplexTypes.EczaneNobet.EczaneNobetIstekDetay

@{
    ViewBag.Title = "Delete";
}
<h4>Eczane Nöbet İstek Sil</h4>

<h5 class="text-danger">Silmek istediğinizden emin misiniz?</h5>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EczaneAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EczaneAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IstekAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IstekAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Sil" class="btn btn-danger" />
        @Html.ActionLink("Listeye Dön", "Index", null, new { @class = "btn btn-warning" })
    </div>
    }
</div>
