@model WM.Northwind.Entities.Concrete.EczaneNobet.NobetGrupGorevTipGunKural

<h4>Nöbet Grup Görev Tip Gün Kural</h4>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NobetGrupGorevTipId, "Nöbet Grubu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("NobetGrupGorevTipId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NobetGrupGorevTipId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NobetGunKuralId, "Nöbet Gün Kuralı", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("NobetGunKuralId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NobetGunKuralId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NobetUstGrupGunGrupId, "Gün Grubu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("NobetUstGrupGunGrupId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NobetUstGrupGunGrupId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-row ml-2 mb-3">
            <div class="form-group col-md-2">
                @*@Html.LabelFor(model => model.AcilisTarihi, htmlAttributes: new { @class = "control-label" })*@
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text p-2">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                    </div>
                    @Html.TextBoxFor(model => model.BaslangicTarihi, new { @class = "form-control datepicker p-2", autocomplete = "off", placeHolder = "Açılış Tarihi" })
                </div>
                @Html.ValidationMessageFor(model => model.BaslangicTarihi, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-2">
                @*@Html.LabelFor(model => model.KapanisTarihi, htmlAttributes: new { @class = "control-label" })*@
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text p-2">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                    </div>
                    @Html.TextBoxFor(model => model.BitisTarihi, new { @class = "form-control datepicker p-2", autocomplete = "off", placeHolder = "Kapanış Tarihi" })
                </div>
                @Html.ValidationMessageFor(model => model.BitisTarihi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-row ml-2 mb-3">
            <div class="form-group col-md-2">
                @Html.LabelFor(model => model.NobetciSayisi, "Nöbetçi Sayısı / Gün", htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text p-2">
                            <i class="fa fa-calculator" aria-hidden="true"></i>
                        </span>
                    </div>
                    @Html.TextBoxFor(model => model.NobetciSayisi, new { @class = "form-control p-2", autocomplete = "off", placeHolder = "Nöbetçi Sayısı" })
                </div>
                @Html.ValidationMessageFor(model => model.NobetciSayisi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Kaydet" class="btn btn-primary" />
            @Html.ActionLink("Listeye Dön", "Index", null, new { @class = "btn btn-warning" })
        </div>
    </div>
}


@section Styles{
    @Styles.Render("~/bundle/bootstrap-datepicker/style")
}

@section Scripts{
    @Scripts.Render("~/bundle/bootstrap-datepicker/scripts")
    @Scripts.Render("~/bundle/validation/scripts")


    <script>

        function tarihDondur2(metin) {

            var tarih = metin.split(' ', 1)[0];
            var tarihTanim = tarih.split(".");
            //var tarihTanim = metin.substring(0, 10).split(".");

            yil = tarihTanim[2];
            ay = tarihTanim[1];
            gun = tarihTanim[0];

            if (gun.length != 4) {
                return yil + "." + ay + "." + gun;
            }
            else {
                //alert(gun)
                return metin;
            }
        }

        $(function () {
            //var bit = bitisTarihininSonGununuSec(tarih);
            $('.datepicker').datepicker('setStartDate', "01-01-1900");

            var bsl = tarihDondur2($("#BaslangicTarihi").val());
            //var baslangicStr = tarihDondur2($("#BaslangicTarihi").val());

            //alert(bsl)
            //alert(baslangicStr)
            //$("#BaslangicTarihi").datepicker("setDate", new Date(baslangicStr));
            $("#BaslangicTarihi").datepicker("setDate", new Date(bsl));
            //$("#TarihBaslangic").datepicker("setStartDate", new Date(baslangicStr));
        });

    </script>    
}
