@model IEnumerable<NobetGrupGorevTipGunKuralDetay>

@{
    ViewBag.Title = "Nöbet Gün Kurallar | Nöbet Sistemi";
}

<!-- #region ajaxOptions -->
@{
    var getAjaxOptionsSorgu = new AjaxOptions
    {
        AllowCache = false,
        Url = Url.Action("NobetGrupGorevTipGunKuralPartial"),
        HttpMethod = "GET",
        UpdateTargetId = "nobetGrupGorevTipGunKurallar",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "loading"
    };

    var getAjaxOptionsAktifYap = new AjaxOptions
    {
        AllowCache = false,
        Url = Url.Action("AktifPasifYap"),
        HttpMethod = "GET",
        UpdateTargetId = "nobetGrupGorevTipGunKurallar",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "loading"
    };
}
<!-- #endregion -->

<div class="row justify-content-between mb-2">
    <div class="col-md-6 mb-2">
        <div class="form-inline">
            <h4 class="mr-5">Nöbet Gün Kurallar</h4>
            <div class="form-group mr-3 mr-lg-5">
                <a class="btn btn-outline-success btn-sm" href="@Url.Action("Create", null, new { area= "EczaneNobet" })"><span class="fa fa-plus"></span> Yeni Kayıt</a>
            </div>
            <button class="btn btn-dark btn-sm mr-3 mr-lg-5" type="button" id="btnExceleAktar">
                <i class="fa fa-file-excel-o text-success"></i> Excele Aktar
                <i class="fa fa-download"></i>
            </button>

            <button type="button" class="btn btn-primary" title="Nöbet Yaz" data-toggle="modal" data-target="#nobetGunKurallarAciklama">
                <i class="fa fa-info-circle"></i> Açıklama
            </button>

        </div>
    </div>

    <div class="col-md-4 col-xl-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" id="myInput" class="form-control" placeholder="Tabloda ara.." aria-label="Ara.." aria-describedby="basic-addon1">
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="nobetGunKurallarAciklama" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        @* modal-lg *@
        <div class="modal-content">
            <div class="modal-header alert-info">
                <h5 class="modal-title">Nöbet Gün Kural Açıklama !</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Nöbet gruplarının <strong>gün grupları</strong> ve <strong>günlük nöbetçi sayıları</strong> bu sayfada belirlenmektedir.
                </p>
                @*<p>
                    <span class="font-weight-bold text-success">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Aktif
                    </span> olarak belirlenen günlerde nöbetler <strong>grup ortalamasına göre</strong> takip edilmektedir.
                </p>
                <p>
                    İstediğiniz bir günü <strong class="text-success">Aktif</strong> ya da <strong class="text-danger">Pasif</strong> olarak değiştirmek için <strong>Nöbet Grubu</strong> ve <strong>Gün</strong> seçeneklerini kullanarak <strong>Güncelle</strong> butonu ile güncelleyiniz.
                </p>*@

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger"
                        @*onclick="return confirm('Çözüm iptal edilecek. Emin misiniz?');"*@
                        id="btnModeliKapat" data-dismiss="modal">
                    İptal
                </button>
            </div>
        </div>
    </div>
</div>

<div class="form-inline border border-primary pt-2 pl-2">

    @using (Ajax.BeginForm(null, null, getAjaxOptionsSorgu, new { @class = "form-inline", id = "formSorgu" }))
    {
        <div class="form-group mr-2 mb-2 mb-md-2">
            <label class="form-control-label font-weight-bold text-secondary mr-sm-2">Nöbet Grubu:</label>
            @Html.DropDownList("NobetGrupGorevTipId", null, htmlAttributes: new { @class = "form-control" }, optionLabel: "---Tümü---")
        </div>

        <div class="form-group mr-2 mb-2 mb-md-2">
            <label class="form-control-label font-weight-bold text-secondary mr-sm-2">Gün Kuralı:</label>
            @Html.DropDownList("NobetGunKuralId", null, htmlAttributes: new { @class = "form-control" }, optionLabel: "---Tümü---")
        </div>
    }


    @*@using (Ajax.BeginForm(null, null, getAjaxOptionsAktifYap, new { @class = "form-inline mb-2", id = "formAktif" }))
    {
        @Html.Hidden("nobetGrupGorevTipId")
        @Html.Hidden("nobetGunKuralId")

        <div class="form-group mr-2">
            <div class="col-auto my-1">
                <div class="custom-control custom-checkbox">
                    @Html.CheckBox("pasifMi", new { @class = "custom-control-input" })
                    <label class="custom-control-label" title="Aktif/Pasif" for="pasifMi">Pasif mi?</label>
                </div>
            </div>
        </div>
        <button class="btn btn-success mr-3" type="submit"><i class="fa fa-save"></i> Güncelle</button>

        <span class="spinner-border text-primary" role="status" style="display:none" id="loading">
            <span class="sr-only">Loading...</span>
        </span>
    }*@

</div>

<div class="alert-light mb-2" role="alert">
    Listeyi görmek için <strong>nöbet grubunu</strong> seçiniz.
</div>

<div id="nobetGrupGorevTipGunKurallar">
    @*@{
            Html.RenderAction("NobetGrupGorevTipGunKuralPartial");
        }*@
</div>

@section Scripts{
    @Scripts.Render("~/bundle/ajax")
    @Scripts.Render("~/bundle/pager")

    <script>
        $(document).ready(function () {

            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLocaleLowerCase('tr-TR');
                $("#eczaneTablo tr").filter(function () {
                    $(this).toggle($(this).text().toLocaleLowerCase('tr-TR').indexOf(value) > -1)
                });
                if ($(this).val().length == 0) {
                    getPaging(currentPage)
                }
            });

            $('#btnExceleAktar').click(function () {
                // alert('ConfirmSubmit')
                $("#gridT > tbody > tr").each(function (i, el) {
                    $(this).css('display', 'table-row');
                });
                exportToExcel();
                //location.reload();
                //sayfalamaYap(model, 15);
            });
            function exportToExcel() {
                var htmls = "";
                var uri = 'data:application/vnd.ms-excel;base64,';
                var template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>';
                var base64 = function (s) {
                    return window.btoa(unescape(encodeURIComponent(s)))
                };

                var format = function (s, c) {
                    return s.replace(/{(\w+)}/g, function (m, p) {
                        return c[p];
                    })
                };

                htmls = $("table").html();

                var ctx = {
                    worksheet: 'Worksheet',
                    table: htmls
                }

                var link = document.createElement("a");
                link.download = "NobetGunKurallar.xls";
                link.href = uri + base64(format(template, ctx));
                link.click();
            }
        });

        function veriyiGizleLoadingGifiGoster() {
            document.getElementById("div1").style.visibility = "hidden";//sayfa yüklenirken tablo gizlenir
            // document.getElementById("div_searching").style.visibility = "hidden";//sayfa yüklenirken tablo gizlenir
            document.getElementById("loading").style.visibility = "visible";//sayfa yüklenirken loading gif i gösterilir
            acilisiGeciktir()
        }
        function acilisiGeciktir() {
            setTimeout(
                loadingGifiGizleVeriyiGoster, /* Request next message  */
                200 /* ..after ms seconds */
            );
        }
        function loadingGifiGizleVeriyiGoster() {
            document.getElementById("div1").style.visibility = "visible";//tablo gösterilir
            // document.getElementById("div_searching").style.visibility = "visible";//sayfa yüklenirken tablo gizlenir
            document.getElementById("loading").style.visibility = "hidden";//gif gizlenir
            document.getElementById("loading").style.display = "none";//gif yer kaplamasın
        }

    </script>

    <script>

        $("#NobetGrupGorevTipId").change(function () {

            var formSorguNobetGrubu = $('#NobetGrupGorevTipId').val();
            //alert(formSorguNobetGrubu)
            $('#nobetGrupGorevTipId').val(formSorguNobetGrubu);
            //alert($('#nobetGrupGorevTipId').val())
            $('#formSorgu').submit();
        });

        $("#NobetGunKuralId").change(function () {
            var formSorguNobetGunKuralId = $('#NobetGunKuralId').val();
            $('#nobetGunKuralId').val(formSorguNobetGunKuralId);
            $('#formSorgu').submit();
        });
    </script>

    <script>
                        //setTimeout(function () { $('.alert').fadeOut(500); }, 10000);

                        //$('#tblNobetGrupGunKurallar').on('click', '.clickable-row', function (event) {
                        //    if ($(this).hasClass('alert-info')) {
                        //        $(this).removeClass('alert-info');
                        //    } else {
                        //        $(this).addClass('alert-info').siblings().removeClass('alert-info');
                        //    }
                        //});

    </script>
}
