@model IEnumerable<WM.Northwind.Entities.Concrete.Transport.Depo>

@{
    var deleteAjaxOptions = new AjaxOptions
    {
        UpdateTargetId = "tblDepo",
        InsertionMode = InsertionMode.Replace,
        Confirm = "Are you sure to delete?",
        OnSuccess = "OnSuccess"
    };
}

<h2>Depolar</h2>

<table class="table table-hover table-bordered table-sm text-center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Talep)
        </th>
        <th class="w-25"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Talep)
            </td>
            <td>
                @Html.ActionLink("  ", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-success btn-sm fa fa-edit fa-lg" }) |
                @Html.ActionLink("  ", "Details", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-sm fa fa-info-circle fa-lg" }) |
                @Ajax.ActionLink("  ", "Delete", new { id = item.Id }, deleteAjaxOptions, new { @class = "btn btn-outline-danger btn-sm fa fa-remove fa-lg" })

                @*@Html.ActionLink("  ", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-success btn-sm fa fa-edit fa-lg" }) |
                    @Html.ActionLink("  ", "Details", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-sm fa fa-info-circle fa-lg" }) |
                    @Ajax.ActionLink("Delete", "Delete", new { id = item.Id }, deleteAjaxOptions)*@
            </td>
        </tr>
    }

</table>
