@model WM.Northwind.Entities.Concrete.Depo

@{
    ViewBag.Title = "Details";
}

@section SolTaraf{
    @Html.Action("TransportDataPartialView", "Transport", new { area = "Optimization" })
}

<h2>Detaylar</h2>

<div>
    <h4>Depo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Talep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Talep)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Listeye Dön", "Index")
</p>
