@model WM.Northwind.Entities.Concrete.EczaneNobet.NobetAltGrup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NobetAltGrup</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaslamaTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaslamaTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BitisTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BitisTarihi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
