@model EczaneOda



<h2>Eczane Oda Sil</h2>
<hr />
<h3>Eczane Oda kaydını silmek istediğinizden emin misiniz?</h3>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailAdresi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailAdresi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebSitesi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebSitesi)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> 
            @Html.ActionLink("Listeye Dön", "Index", null, new { @class = "btn btn-warning" })
        </div>
    }
</div>
