@model KisitAyarlaViewModel

@*Nöbet Üst Grup Kısıt*@

@{
    var getAjaxOptions = new AjaxOptions
    {
        AllowCache = false,
        Url = Url.Action("NobetGruplarDDLPartialView"),
        HttpMethod = "GET",
        UpdateTargetId = "ddlNobetGruplar",
        InsertionMode = InsertionMode.Replace
    };
    var nobetUstGrupKisitDegisimTakip = (List<NobetUstGrupKisitDetayDegisimTakip>)Session["nobetUstGrupKisitSession"];
}

@{
    /**/

    ViewBag.Title = "Nöbet Ayarları |  Nöbet Yaz";
    //var aktifTabDurum = "";
    //var aktifTabContent = "";
    var kisitTurler = new string[3] { "varsayilandanFarkli", "False", "True" };
    //"varsayilandanFarkli",
    var tabId = "";
    var varsayilandanFarkliKisitlar = Model.Kisitlar
        .Where(w => w.PasifMi != w.VarsayilanPasifMi
        || w.SagTarafDegeri != w.SagTarafDegeriVarsayilan
        || w.NobetGrupGorevtipKisitSayisi > 0).ToList();

    var varsayilandanFarkliKisitSayisi = varsayilandanFarkliKisitlar.Count;

    var kisitKategoriler = Model.Kisitlar.Select(s => new { s.KisitKategoriId, s.KisitKategoriAdi }).Distinct().OrderBy(o => o.KisitKategoriId).ToList();
    var ilkKisitKategorisi = kisitKategoriler.FirstOrDefault();
    var pasifKisitSayisi = Model.Kisitlar.Where(w => w.PasifMi == true).Count();
    var aktifKisitSayisi = Model.Kisitlar.Where(w => w.PasifMi == false).Count();
    var kisitSayisi = Model.Kisitlar.Count();

    TempData["KisitAyarla"] = true;
}

<!-- #region modal -->

<div class="modal fade bd-example-modal-xl" tabindex="-1" id="nobetKuralDegisimleriModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        @* modal-lg *@
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>*@
            <div class="modal-body" style="font-size:small">
                @*<div class="spinner-border text-primary" role="status" id="kisitDurumuLoadingElement" style="display:none">
                        <span class="sr-only">Loading...</span>
                    </div>*@

                <div id="searchResults">

                </div>
                @*<span id="degisenKistiSayisi"></span>*@
                @*@Html.Action("GetSonDegisenKisitlar", "NobetUstGrupKisit", new { area = "EczaneNobet" })*@

                <button type="button" class="btn btn-outline-danger pull-right btn-sm" data-dismiss="modal">Kapat</button>
            </div>
            @*<div class="modal-footer">
                </div>*@
        </div>
    </div>
</div>

<!-- #endregion -->

<div class="row">
    <div class="col mb-1">
        <div class="form-inline py-0">

            <h4 class="mr-5 mb">Nöbet Ayarları</h4>
            @if (ViewBag.RolId < 3)
            {
                <div class="form-group mr-5 mb-2 mb-lg-0">
                    <a class="btn btn-outline-success btn-sm pull-right" href="@Url.Action("Create", null, new { area = "EczaneNobet" })"><span class="fa fa-plus"></span> Yeni Kayıt</a>
                </div>
            }
            <div class="input-group ml-5 mr-4 mb-2 mb-lg-0">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="kisitAra">
                        <i class="fa fa-search" id="btnAra"></i>
                        <img src="~/Content/images/Icons8-Windows-8-Data-Clear-Filters.ico" style="width:15px; display:none; cursor:pointer" data-toggle="tooltip" data-placement="top" title="Temizle" id="btnSilKisitAra" />
                    </span>
                </div>
                <input type="text" id="myInput" class="form-control" placeholder="Kural ara.." aria-label="Ara.." aria-describedby="kisitAra">
            </div>

            @if (varsayilandanFarkliKisitSayisi > 0)
            {
                <div class="alert alert-warning alert-dismissible fade show py-2 mr-2 mr-md-4 px-3 mb-2 mb-lg-0" id="varsayilanKisitUyari" role="alert">
                    <i class="fa fa-warning"></i>
                    <a href="#" id="varsayilandanFarkliKisitlar" class="alert-link text-dark"> <span id="varsayilandanFarkliKisitSayisiText">@varsayilandanFarkliKisitSayisi</span> kural</a>
                    @*<span class="alert-link" id="varsayilandanFarkliKisitlar"> </span>*@ varsayılandan farklıdır.
                    @*<button type="button" class="close py-2" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>*@
                </div>

                <a class="btn btn-warning mb-2 mb-lg-0 mr-2 mr-md-4" href="@Url.Action("VarsayilanKisitlar", null, new { area = "EczaneNobet" })" onclick="return confirm('Varsayılan ayarlara dönmek istediğinizden emin misiniz?');">
                    <span class="fa fa-refresh"></span> Varsayılan Ayarlara Dön
                </a>
            }
            @*@if (nobetUstGrupKisitDegisimTakip.Count > 0)
                {*@
            <a data-toggle="modal" data-target="#nobetKuralDegisimleriModal" href="#" class="btn btn-info pull-right" id="search">
                <i class="fa fa-info-circle" aria-hidden="true"></i> İşlemler
            </a>
            
        </div>
        <small id="araHelp" class="form-text text-muted">Değeri değişebilen kuralları filtrelemek <a href="#" id="degisebilenKisitlar" class="alert-link">tıklayınız.</a></small>
    </div>
</div>

@if (TempData["KisitDuzenleSonuc1"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="fa fa-check"></i> <strong><span>K</span>@TempData["KisitDuzenleSonuc0"]<span>:</span> </strong>
        <span><span>(</span>@TempData["KisitDuzenleSonuc1"] / </span>
        <span>@TempData["KisitDuzenleSonuc2"]<span>)</span></span>
        <strong>
            başarılı bir şekilde güncellenmiştir.
        </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (TempData["VarsayilanKistlarSonuc"] != null && (bool)TempData["VarsayilanKistlarSonuc"] == true)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="fa fa-check"></i> <strong>Tüm kısıtlar varsayılan ayarları ile başarılı bir şekilde güncellenmiştir.</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="row">
    <div class="col" id="kisitlar">
        @{
            var kisitNu = 0;
            var goster = "";
            var kisitTuru = "aktif";

            //var baslik = "";
            var kisitlar = Model.Kisitlar;//.Where(w => w.PasifMi.ToString() == kisitTuru).ToList();
                                          //var kisitSayisi = kisitlar.Count();

            //if (kisitTuru == "varsayilandanFarkli" && varsayilandanFarkliKisitSayisi > 0)
            //{
            //    aktifTabContent = "show active";
            //    tabId = "varsayilandanFarkli";
            //    //baslik = "Varsayılandan Farklı";
            //    kisitSayisi = varsayilandanFarkliKisitSayisi;
            //    kisitlar = varsayilandanFarkliKisitlar;
            //}
            //else if (kisitTuru == "True")
            //{
            //    tabId = "pasif";
            //    //baslik = "Pasif";
            //    aktifTabContent = "";
            //}
            //else //if (kisitTuru == "False")
            //{
            tabId = "aktif";
            //baslik = "Aktif";
            var accordionId = $"#{tabId}_kisitAcordion";

            //if (varsayilandanFarkliKisitSayisi > 0)
            //{
            //    aktifTabContent = "";
            //}
            //else
            //{
            //    aktifTabContent = "show active";
            //}
            //}
        }

        @if (kisitSayisi > 0)
        {
            <div class="accordion" id="@accordionId.Substring(1)">

                @foreach (var kisitKategori in kisitKategoriler)
                {
                    var kisitKategorisi = $"#collapse{tabId}{kisitKategori.KisitKategoriId}";
                    var kisitKategorisiBaslik = $"heading{tabId}{kisitKategori.KisitKategoriId}";
                    var kisitlar2 = kisitlar.Where(w => w.KisitKategoriId == kisitKategori.KisitKategoriId).ToList();
                    var kisitKategoriAdi = kisitKategori.KisitKategoriAdi;

                    if (kisitKategoriAdi == "A Genel")
                    {
                        kisitKategoriAdi = @kisitKategori.KisitKategoriAdi.Substring(2);
                    }

                    if (kisitlar2.Count > 0)
                    {
                        if (kisitNu == 0)
                        {
                            goster = "show";
                        }
                        else
                        {
                            goster = "";
                        }

                        kisitNu++;

                        var digerKisitlar = kisitlar2.Where(w => !w.KisitAciklama.StartsWith("GK")
                        //&& !w.KisitAdiGosterilen.EndsWith("(son 3 ay)")
                        );
                        var haftaninGunleri = kisitlar2.Where(w => w.KisitAciklama.StartsWith("GK"));
                        //var sonUcAy = kisitlar2.Where(w => w.KisitAdiGosterilen.EndsWith("(son 3 ay)"));

                        <div class="card">
                            <div class="card-header border-info bg-transparent text-left p-1" id="@kisitKategorisiBaslik">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="@kisitKategorisi" aria-expanded="true" aria-controls="@kisitKategorisi.Substring(1)">
                                        @kisitKategoriAdi
                                        <span class="badge badge-info ml-1" title="Bu kategorideki kısıt sayısı">@kisitlar2.Count</span>
                                    </button>
                                </h5>
                            </div>

                            <div id="@kisitKategorisi.Substring(1)" class="collapse @goster" aria-labelledby="@kisitKategorisiBaslik" data-parent="@accordionId">

                                <div class="card-body border-bottom pb-1">

                                    @if (kisitKategori.KisitKategoriId == 6)
                                    {//tarih aralığı en fazla

                                        <a data-toggle="collapse" href="#tarihAraligiOrtalamaAciklama" aria-expanded="false" aria-controls="collapseExample" class="btn btn-outline-dark btn-sm">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i> Kategori Açıklaması
                                        </a>

                                        <div class="collapse" id="tarihAraligiOrtalamaAciklama">

                                            <div class="alert alert-info" role="alert">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                Bu kategoride belirtilen <span class="badge badge-light">Tarih Aralığı</span> nöbet yazmak için seçilen tarih aralığıdır.
                                                Bu kategorideki kurallar
                                                <b title="Ortalama Nöbet Sayısı = Tarih aralığındaki talep edilen toplam nöbetçi sayısı / Gruptaki nöbetçi sayısı">
                                                    <span class="badge badge-light">Değer=0</span> olduğunda ortalama nöbet sayılarının yukarı yuvarlanmış (örn.: ortama = 5,01 ise değer = 6'dır.)
                                                </b> halidir.
                                                Ortalama nöbet sayıları <span class="badge badge-light">#Değer</span> alanları değiştirilerek artırılabilmektedir.
                                            </div>

                                        </div>

                                    }
                                    else if (kisitKategori.KisitKategoriId == 9)
                                    {//kümülatif en fazla
                                        <a data-toggle="collapse" href="#kumulatifOrtalamaAciklama" aria-expanded="false" aria-controls="collapseExample" class="btn btn-outline-dark btn-sm">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i> Kategori Açıklaması
                                        </a>

                                        <div class="collapse" id="kumulatifOrtalamaAciklama">

                                            <div class="alert alert-info" role="alert">
                                                <p>
                                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                    Bu kategoride belirtilen <span class="badge badge-light">Kümülatif</span> ibaresi gruba nöbet yazılmaya başlanan tarihten itibaren tüm nöbetlerin ortalaması ile nöbet yazmak için seçilen tarih aralığınıdığındaki ortalama nöbet sayısının toplamıdır.
                                                    Bu kategorideki kurallar
                                                    @*title="Ortalama Nöbet Sayısı = Tarih aralığındaki talep edilen toplam nöbetçi sayısı / Gruptaki nöbetçi sayısı"*@
                                                    <b>
                                                        <span class="badge badge-light">Değer=0</span> olduğunda ortalama nöbet sayılarının yukarı yuvarlanmış (örn.: ortama = 5,01 ise değer = 6'dır.)
                                                    </b>
                                                    halidir.
                                                    Kümülatif ortalama nöbet sayıları <span class="badge badge-light">#Değer</span> alanları değiştirilerek artırılabilmektedir.
                                                </p>

                                                <p>
                                                    Zamanla nöbet grubuna sonradan katılan/ayrılan eczaneler nedeniyle hesaplanan ortalama değerlerde sapma olabilmektedir. Örneğin; her ay 30 gün ve nöbet grubu 30 kişilik olsun. Ocak ayı nöbet ortalaması 1'dir. Ocak-Şubat iki aylık nöbet ortalaması ise 2'dir. Şubat sonu itibariyle her eczaneye 2 nöbet gelmesi beklenir. Ancak;
                                                </p>

                                                <ol>
                                                    <li>Şubat ayında gruba yeni bir eczane <strong>katılması</strong> halinde kümülatif ortamala azalacaktır <math /> (60/31 = 1,93). Bu durumda ortamala 1 artırılmalılır. </li>
                                                    <li>Şubat ayında gruba yeni bir eczane <strong>ayrılması</strong> halinde kümülatif ortamala artacaktır <math /> (60/29 = 2,07). Bu durumda ortamala 1 azaltılmalıdır. </li>
                                                </ol>

                                            </div>

                                        </div>
                                    }

                                    <div class="row">

                                        @Html.Action("KuralKategorilerPartialView", new { tabId = tabId, kisitTuru = kisitTuru, nobetUstGrupKisitDetaylar = digerKisitlar })

                                    </div>

                                    @if (haftaninGunleri.Count() > 0)
                                    {
                                        <hr class="my-1" />

                                        <div class="card border-0">
                                            <div class="card-body py-1">
                                                <strong class="card-title">Nöbet Gün Kuralları</strong>
                                            </div>
                                        </div>

                                        <div class="row">

                                            @Html.Action("KuralKategorilerPartialView", new { tabId = tabId, kisitTuru = kisitTuru, nobetUstGrupKisitDetaylar = haftaninGunleri })

                                        </div>
                                    }

                                    @*@if (sonUcAy.Count() > 0)
                                        {
                                            <hr />

                                            <div class="card border-0">
                                                <div class="card-body py-1">
                                                    <strong class="card-title">Son 3 Ay</strong>
                                                </div>
                                            </div>

                                            <div class="row">

                                                @Html.Action("KuralKategorilerPartialView", new { tabId = tabId, kisitTuru = kisitTuru, nobetUstGrupKisitDetaylar = sonUcAy })

                                            </div>
                                        }*@

                                </div>

                            </div>
                        </div>
                    }
                }
            </div>
        }
    </div>
</div>


@section Styles{

    @Styles.Render("~/bundle/jqueryui/style")

    <style>
        .cardHeaderRenkAktif {
            background-color: #ffacac;
        }

        .cardHeaderRenkPasif {
            background-color: #e2e3e5;
        }

        .cardBodyRenkAktif {
            background-color: #ffcdcd;
        }

        .cardBodyRenkPasif {
            background-color: #F3F3F3;
        }
    </style>

}

@section Scripts{
    @Scripts.Render("~/bundle/ajax")
    @Scripts.Render("~/bundle/queryui/scripts")

    <script>

        function OnSuccess(data) {
            alert("güncellendi");
        }

    </script>

    <script>
        //col
        $("#degisebilenKisitlar").click(function () {
            $("#myInput").val("#");
            $("#myInput").keyup();
        });

        $("#varsayilandanFarkliKisitlar").click(function () {
            $("#myInput").val("lı!");
            $("#myInput").keyup();
        });

        $("#btnSilKisitAra").click(function () {
            $("#myInput").val("");
            $("#myInput").keyup();
            //aramaKutusuIconDegistir();
        });

        function aramaKutusuIconDegistir() {
            if ($("#myInput").val() != "") {
                $("#btnAra").hide();
                $("#btnSilKisitAra").show();
            }
            else {
                $("#btnAra").show();
                $("#btnSilKisitAra").hide();
            }
        }
        $("#btnTumunuGenislet").click(function () {
            //$('.kisitToplar').collapse('toggle');
            //var ff = $('#aktif_kisitAcordion .collapse').select();
            //if (!ff.hasClass("show")) {
            //    ff.collapse("show");
            //}
            //.collapse('toggle');
            //$('.collapse .kisitToplar').collapse();
        });

        $(document).ready(function () {

            $("#myInput").on(
                "keyup", function () {
                    //$('#kisitAcordion').on('hidden.bs.collapse', function () {
                    //    // do something…
                    //    this.collapse('show');
                    //})
                    //$('.kisitToplar').collapse('show');
                    aramaKutusuIconDegistir();
                    var value = $(this).val().toLocaleLowerCase('tr-TR');
                    $(".row .col .accordion .card").filter(function () {
                        $(this).toggle($(this).text().toLocaleLowerCase('tr-TR').indexOf(value) > -1)
                    });

                    //if (value.length == 0) {
                    //    //alert(value.length)
                    //    $('.kisitToplar').collapse('hide');
                    //}
                    //else {
                    //    $('.kisitToplar').collapse('show');
                    //}
                });

        });

        var url = '@Url.Action("NobetUstGrupKisitDegisimPartialView", "NobetUstGrupKisit")';

        $('#search').click(function () {
            //alert(url)
            //$('#searchResults').empty();
            $('#searchResults').load(url, function() {

                var kuralDegisimSayisi = $("#gridT > tbody > tr").length;

                //if (kuralDegisimSayisi > 0) {
                //    $("#kisitDegisimTablosu").show();
                //}
                //else {
                //    $("#kisitDegisimTablosu").hide();
                //}
                //alert()
            });

            //var customerId = $('#kisitDegisimTablosu tr:last').attr('Genel');

            //alert(customerId)

            //$('#degisimSayisi').text(url.length);
            //$("#kisitDegisimTablosu > tbody > tr").length
            //alert($("#kisitDegisimTablosu > tbody > tr").length)
        })

        var urlRaporuGuncelle = '@Url.Action("EditAjax")';

        function chekBoxDegistir(element, formId, cardIdKuralId) {
            //alert("element.id: " + element.id)
            //alert(cardIdKuralId.id)
            var checkBoxLabelId = "lblChk" + element.id.substring(3);
            //alert("chk Üst Taraf " + element.checked)
            //alert("chkAlt " + $('#chkAlt' + element.id.substring(3)).val())
            //alert("chkAlt id " + $('#chkAlt' + element.id.substring(3)).attr('id'))

            if (element.checked) {
                $('#chkAlt' + element.id.substring(3)).prop('checked', true)
                //alert ($('#chkAlt' + element.id.substring(3)).val())
                //$('#' + checkBoxLabelId).attr("title", "Pasif yapmak için buraya tıklayıp 'Kaydet' butonuna basınız.");
                $('#' + checkBoxLabelId).text("Aktif");
                $('#' + checkBoxLabelId).removeClass("text-secondary");
                $('#' + checkBoxLabelId).addClass("text-primary");

                $('#' + cardIdKuralId.id + ' .kuralId').removeClass("badge-secondary");
                $('#' + cardIdKuralId.id + ' .kuralId').addClass("badge-primary");

                $('#' + cardIdKuralId.id + ' .card-header').removeClass("cardHeaderRenkPasif");
                $('#' + cardIdKuralId.id + ' .card-header').addClass("cardHeaderRenkAktif");

                $('#' + cardIdKuralId.id + ' .card-body').removeClass("cardBodyRenkPasif");
                $('#' + cardIdKuralId.id + ' .card-body').addClass("cardBodyRenkAktif");

                $('#' + cardIdKuralId.id + ' .formGondermeButonu').removeClass("btn-outline-secondary");
                $('#' + cardIdKuralId.id + ' .formGondermeButonu').addClass("btn-success");
                //element.val("Aktif")
            }
            else {
                //$('#' + checkBoxLabelId).attr("title", "Aktif yapmak için buraya tıklayıp 'Kaydet' butonuna basınız.");
                //alert("chkAlt: " + $('#chkAlt' + element.id.substring(3)).val())
                $('#chkAlt' + element.id.substring(3)).prop('checked', false)
                $('#' + checkBoxLabelId).text("Pasif");
                $('#' + checkBoxLabelId).removeClass("text-primary");
                $('#' + checkBoxLabelId).addClass("text-secondary");

                $('#' + cardIdKuralId.id + ' .kuralId').removeClass("badge-primary");
                $('#' + cardIdKuralId.id + ' .kuralId').addClass("badge-secondary");

                $('#' + cardIdKuralId.id + ' .card-header').removeClass("cardHeaderRenkAktif");
                $('#' + cardIdKuralId.id + ' .card-header').addClass("cardHeaderRenkPasif");

                $('#' + cardIdKuralId.id + ' .card-body').removeClass("cardBodyRenkAktif");
                $('#' + cardIdKuralId.id + ' .card-body').addClass("cardBodyRenkPasif");

                $('#' + cardIdKuralId.id + ' .formGondermeButonu').removeClass("btn-success");
                $('#' + cardIdKuralId.id + ' .formGondermeButonu').addClass("btn-outline-secondary");
                //element.val("Pasif")
            }

            var serializedForm = $(formId).serialize();

            //alert(serializedForm)
            //$(formId).submit();
            raporuGuncelle(urlRaporuGuncelle, serializedForm, formId)
            //element.checked = !element.checked;
        }

        function kuralDegistirButonaBas(element, formId) {
            //alert(formId)
            //alert("kisitId: " + formId.id.substring(9))
            var serializedForm = $(formId).serialize();
            raporuGuncelle(urlRaporuGuncelle, serializedForm, formId)
        }

        function raporuGuncelle(url, formElements, formId) {

            //alert("formId: " + formId.id)
            //alert('#card' + formId.id.substring(9))

            $.ajax({
                dataType: "json",
                url: url,
                type: "post",
                data: formElements,
                success: function (data) {

                    var sonuclar = JSON.parse(JSON.stringify(data));
                    //alert(sonuclar)
                    //alert("VarsayilandanFarkliMi " + sonuclar.VarsayilandanFarkliMi)
                    var kuralId = + formId.id.substring(9);

                    if (sonuclar.VarsayilandanFarkliMi) {
                        $('#card' + kuralId + ' .formBtnUyari').show().text("*Farklı");
                    }
                    else {
                        $('#card' + kuralId + ' .formBtnUyari').hide().text("");
                        //$('#card' + kuralId + ' .formBtnUyari').hide().text("");
                    }

                    //alert("sonuclar.GrupBazliKisitSayisi: " + sonuclar.GrupBazliKisitSayisi)
                    //alert("sonuclar.GrupBazliKisitSayisi tt: " + $('#spanGrupBazliKisitSayisi' + kuralId).text())

                    $('#spanGrupBazliKisitSayisi' + kuralId).text(sonuclar.GrupBazliKisitSayisi)

                    if (sonuclar.GrupBazliKisitSayisi > 0) {
                        $('#spanGrupBazliKisitSayisi' + kuralId).removeClass("badge-light");
                        $('#spanGrupBazliKisitSayisi' + kuralId).addClass("badge-danger");
                    }
                    else {
                        $('#spanGrupBazliKisitSayisi' + kuralId).removeClass("badge-danger");
                        $('#spanGrupBazliKisitSayisi' + kuralId).addClass("badge-light");
                    }

                    if (sonuclar.DegisenKisitSayisi > 0) {
                       $('#varsayilandanFarkliKisitSayisiText').text(sonuclar.DegisenKisitSayisi)
                       $('#varsayilanKisitUyari').show()
                    }
                    else {
                       $('#varsayilanKisitUyari').hide()
                    }

                    if (sonuclar.SagTarafDegeri != sonuclar.SagTarafDegeriVarayilan) {

                    }

                    if (sonuclar.PasifMi != sonuclar.PasifMiVarayilan) {

                    }

                    //alert(data)
                    //dagilimlar = JSON.parse(JSON.stringify(data));

                    //ilgiliRaporuOlustur(raporId);
                },
                error: function (data) {
                    alert('Hata. Veri okunamadı! ' + data);
                },
            });
        }

    </script>
}