@model List<NobetUstGrupKisitDetayDegisimTakip>

@if (Model.Count() > 0)
{
    <h5 class="card-title">Son Yapılan Nöbet Kural Değişimleri <span class="badge badge-info">@Model.Count()</span></h5>

    <table class="table table-sm table-hover table-bordered table-striped" id="kisitDegisimTablosu">
        <thead class="thead-light">
            <tr>
                <th rowspan="2" class="text-center">Sıra Nu.</th>
                <th class="text-center" colspan="3">Nöbet Kural</th>
                <th class="text-center" colspan="3">Önce</th>
                <th class="text-center" colspan="3">Sonra</th>
                <th rowspan="2" style="text-align:center">Güncellenme Tarihi</th>
            </tr>
            <tr>
                @*<th>Sıra</th>*@
                <th>Kodu</th>
                <th>Kategorisi</th>
                <th>Adı</th>
                <th>Durum</th>
                <th>Değer</th>
                <th>Grup Sayısı</th>
                <th>Durum</th>
                <th>Değer</th>
                <th>Grup Sayısı</th>
                @*<th>Tarihi</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.SiraNumarasi</td>
                    <td>@item.NobetUstGrupKisitDetayOnce.KisitKodu</td>
                    <td>@item.NobetUstGrupKisitDetayOnce.KisitKategorisi</td>
                    <td>@item.NobetUstGrupKisitDetayOnce.KisitAdiGosterilen</td>

                    <td>@(item.NobetUstGrupKisitDetayOnce.PasifMi ? "Pasif" : "Aktif")</td>
                    <td>@(item.NobetUstGrupKisitDetayOnce.DegerPasifMi ? "-" : item.NobetUstGrupKisitDetayOnce.SagTarafDegeri.ToString())</td>
                    <td>@item.NobetUstGrupKisitDetayOnce.NobetGrupGorevtipKisitSayisi</td>

                    <td>
                        @(item.NobetUstGrupKisitDetaySonra.PasifMi ? "Pasif" : "Aktif")
                        @if (item.NobetUstGrupKisitDetayOnce.PasifMi != item.NobetUstGrupKisitDetaySonra.PasifMi)
                        {
                            <span class="text-danger font-weight-bold">*</span>
                        }
                    </td>
                    <td>
                        @(item.NobetUstGrupKisitDetaySonra.DegerPasifMi ? "-" : item.NobetUstGrupKisitDetaySonra.SagTarafDegeri.ToString())
                        @if (item.NobetUstGrupKisitDetayOnce.SagTarafDegeri != item.NobetUstGrupKisitDetaySonra.SagTarafDegeri)
                        {
                            <span class="text-danger font-weight-bold">*</span>
                        }
                    </td>
                    <td>
                        @item.NobetUstGrupKisitDetaySonra.NobetGrupGorevtipKisitSayisi
                        @if (item.NobetUstGrupKisitDetayOnce.NobetGrupGorevtipKisitSayisi != item.NobetUstGrupKisitDetaySonra.NobetGrupGorevtipKisitSayisi)
                        {
                            <span class="text-danger font-weight-bold">*</span>
                        }
                    </td>
                    <td>@item.DegisimTarihi</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info" role="alert">
        Bu oturumda hiç nöbet kural değişimi yapılmamıştır.
    </div>
}