@model BildirimModel

@{
    ViewBag.Title = "Nöbet Mazeret Ekle | Nöbet Sistemi";
}

<h4>Bildirim Gönder</h4>

<hr />

<div class="container">
    @if (TempData["BildirimGonderilenKullanici"] != null)
    {
        <div class="row">
            <div class="col">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="fa fa-check"></i>
                    <strong> @Convert.ToString(TempData["BildirimGonderilenKullanici"])</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>
        </div>
    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @*@Html.LabelFor(model => model.EczaneNobetGrupId, "Eczane", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.DropDownList("EczaneId", null, htmlAttributes: new
                {
                    @class = "form-control selectpicker",
               multiple = "true",
               data_live_search = "true",
               data_actions_box = "true",
               title = "Eczane seçiniz...",
               data_selected_text_format = "count > 4"
           })


            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Baslik, "Başlık", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Baslik, new { @class = "form-control", placeHolder = "Eczacı Odası Duyuru vb." })
                @*@Html.EditorFor(model => model.Aciklama, new { htmlAttributes = new { @class = "form-control", placeHolder = "Mazeret açıklaması giriniz..." } })*@
                @Html.ValidationMessageFor(model => model.Baslik, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Metin, "Metin", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Metin, new { @class = "form-control", placeHolder = "Acil kan ihtiyacı duyurusu eczacı odası web sitesinde yayınlanmıştır. Lütfen duyuru sayfasına bakınız. vb." })
                @*@Html.EditorFor(model => model.Aciklama, new { htmlAttributes = new { @class = "form-control", placeHolder = "Mazeret açıklaması giriniz..." } })*@
                @Html.ValidationMessageFor(model => model.Metin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Aciklama, "Acıklama", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Aciklama, new { @class = "form-control", placeHolder = "Acil kan ihtiyacı duyurusu oda başkanı tarafından gönderilmesi istenmiştir. vb." })
                @*@Html.EditorFor(model => model.Aciklama, new { htmlAttributes = new { @class = "form-control", placeHolder = "Mazeret açıklaması giriniz..." } })*@
                @Html.ValidationMessageFor(model => model.Aciklama, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="display:none">
            @Html.LabelFor(model => model.GonderimTarihi, "GonderimTarihi", htmlAttributes: new { @class = "control-label col-md-2"  })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.GonderimTarihi, new { @class = "form-control", placeHolder = "Acil kan ihtiyacı duyurusu oda başkanı tarafından gönderilmesi istenmiştir. vb." })
                @*@Html.EditorFor(model => model.Aciklama, new { htmlAttributes = new { @class = "form-control", placeHolder = "Mazeret açıklaması giriniz..." } })*@
                @Html.ValidationMessageFor(model => model.GonderimTarihi, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Gönder" id="formSubmitButton" class="btn btn-primary" />
                @Html.ActionLink("Listeye Dön", "Index", null, new { @class = "btn btn-warning" })

            </div>
        </div>
    }

    <div class="spinner-border text-info ml-3" role="status" id="wait" style="display:none;">
        <span class="sr-only">Loading...</span>
    </div>

    <div id="sonuclar">
    </div>
</div>

@section Styles{
    @Styles.Render("~/bundle/bootstrap-select/style")
}

@section Scripts{
    @Scripts.Render("~/bundle/ajax")
    @Scripts.Render("~/bundle/bootstrap-select/scripts")
    @Scripts.Render("~/bundle/validation/scripts")
    <script>
        $("#formSubmitButton").click(function (e) {
            //alert('submit clicked')

            var secilenkullanicisayisi = $("#EczaneId :selected").length;
            //alert($("#UserId :selected").val())

             if (secilenkullanicisayisi < 1) {
                alert("Lütfen kullanıcı seçiniz...")
                e.preventDefault();
                return false;
            }

            return confirm(secilenkullanicisayisi + ' kullanıcıya bildirim gidecek. Emin misiniz?');

        });

    </script>
}
