
@{
    ViewBag.Title = "Eczane Nöbet Sistemi";
    ViewBag.MetaDescription = "Nöbetçi eczane belirleme sistemi";
    ViewBag.MetaKeywords = "eczane nöbet sistemi, online nobetçi eczane tabelası";
}

<style>
    .jumbotron {
        background-image: url("../Content/images/digital_background4.jpg");
        /*background-color: aliceblue;*/
        background-size: cover;
        /*height:100px;*/
    }
</style>

@section jumbotronMaster{

    <div class="jumbotron jumbotron-fluid pt-4 pb-2 py-lg-5 mt-5 mb-lg-2 mb-1">
        <div class="container text-white">
            <h1 class="display-4" style="font-size:250%">
                <small class="text-danger bg-light" data-toggle="tooltip" data-placement="bottom" title="Eczane" style="border:solid; border-width:medium; ">&nbsp;E&nbsp;</small> Nöbet Sistemi
            </h1>
            <p class="lead">
                <i class="fa fa-commenting text-success" aria-hidden="true"></i>
                Sizin için en doğru kararı en kısa sürede veren sistemi siz de kullanın
                @*Nöbet Sisteminin Tüm Avantajlarından Yararlanın*@
            </p>
            @*<hr class="my-4 bg-info w-50" align="left">*@
            @*Sizin için en doğru kararı en kısa sürede veren sistemi siz de kullanın*@
        </div>
    </div>
}

<div class="container">

    <div class="row mb-3">

        <div class="col-12">
            <div class="alert alert-info fade show font-weight-bold" role="alert">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Eczanelere nöbet yazımının
                <a class="card-link" href="@Url.RouteUrl("NobetYazDetay")" target="_blank">klasik nöbet sistemlerinden </a>
                farklı zorlukları vardır.
            </div>
        </div>

        <div class="col-lg-6">

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                    <strong>Elle nöbet yazmak</strong> çok uzun zaman alır.
                </li>
                <li class="list-group-item">
                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                    <strong>Aynı gün nöbet tutan eczane kombinasyonu</strong> oldukça önemlidir.
                </li>
                @*<li class="list-group-item">
                        <i class="fa fa-check text-success" aria-hidden="true"></i>
                        Ayrıca, aynı gün nöbet tutan <strong>bazı eczane ikililerinin birlikte nöbet tutma sayısı</strong> da bir o kadar önemlidir.
                    </li>*@
                <li class="list-group-item">
                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                    <strong>Cumartesi, pazar, bayram ve hafta içi</strong> nöbetlerinin hassas takibi gerekmektedir.
                </li>
                <li class="list-group-item">
                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                    Kriterlere uygun adil bir nöbet dağılımının, <strong>her eczacı için ayrı ve önemli getirileri</strong> vardır.
                </li>
            </ul>

        </div>

        <div class="col-lg-2 text-center pt-3 pt-lg-4 mb-3">
            <a class="h5 card-link text-primary text-center" href="@Url.RouteUrl("EczaneNobetSistemiDetay")"><span class="fa fa-hand-o-right"></span> Sistem Arayüzleri</a>

            <img class="img-fluid my-2" src="~/Content/images/EczaneNobetSistemi/arayuz-design.jpg" alt="Nöbetçi Eczaneler" />
        </div>

        <div class="col-lg-4 ">

            <ul class="list-group list-group-flush">

                <li class="list-group-item">
                    <span class="badge badge-pill badge-info">1</span>
                    Verilerinizi <i class="fa fa-copy text-danger" aria-hidden="true"></i> <strong>kolayca aktarın</strong>.
                    @* Kendi sisteminizi <i class="fa fa-cogs text-danger" aria-hidden="true"></i> <strong>zahmetsizce yönetin</strong>.*@
                </li>
                <li class="list-group-item">
                    <span class="badge badge-pill badge-info">2</span>
                    Siz sadece <strong>kurallarınızı</strong> <i class="fa fa-cogs text-danger" aria-hidden="true"></i> belirleyin.
                </li>
                <li class="list-group-item">
                    <span class="badge badge-pill badge-info">3</span>
                    <strong>Saniyeler içinde</strong>
                    <i class="fa fa-hourglass-end text-danger" aria-hidden="true"></i> nöbetlerinizi yazın.
                </li>
                <li class="list-group-item">
                    <span class="badge badge-pill badge-info">4</span>
                    Çok sayıda
                    <a class="alert-link" href="@Url.RouteUrl("EczaneNobetSistemiDetay")"> istatistiğe</a>
                    <i class="fa fa-bar-chart text-danger" aria-hidden="true"></i> hemen ulaşın.
                </li>
                <li class="list-group-item">
                    <span class="badge badge-pill badge-info">5</span>
                    Sonuçları
                    <strong>
                        <a class="alert-link" href="@Url.RouteUrl("NobetciEczaneler")"> haritada</a>
                        <i class="fa fa-map text-danger" aria-hidden="true"></i>
                    </strong> görüntüleyin.
                </li>
                @*<li class="list-group-item">
                        <i class="fa fa-check text-success" aria-hidden="true"></i>
                        <span class="badge badge-pill badge-info">5</span>
                        Tüm cihazlardan 7/24 ulaşın.
                    </li>*@
            </ul>

        </div>
    </div>


    <div class="row mb-2">
        <div class="col-lg-8 text-center mt-2">
            <h4>Ücretsiz demo için bize <a class="card-link" href="@Url.RouteUrl("Contact")"><span class="fa fa-envelope"></span></a> ulaşın. Hemen başlayalım.</h4>
        </div>
        <div class="col-lg-4 text-center ">
            <div class="alert alert-success fade show px-0" role="alert">
                @*alert-dismissible*@
                @*WhatsApp ve Telefon Destek Hattı<br />*@
                <i class="fa fa-question-circle"></i> Yardım
                <i class="fa fa-phone"></i>
                <a href="Tel:+905452710985" class="alert-link" style="text-decoration:none;">(0)545 - 271 09 85</a>
                @*<span>(+90) 545 271 09 85</span>*@
                @*<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
            </div>
        </div>
    </div>

    @*<div class="row">
            <div class="col text-center">
                <h5>Her eczanede, <span class="text-danger">nöbetçi eczaneleri</span> online <i class="fa fa-rss text-info" aria-hidden="true"></i> bir şekilde gösteren <a class="card-link" href="@Url.RouteUrl("DijitalTabela")">ONET sistemimize</a> bir göz atın.</h5>
                <h5 class="text-capitalize">Eczanelere özel <span class="text-danger">aşağıdaki <i class="fa fa-hand-o-down" aria-hidden="true"></i> çözümlerimize</span> bir göz atın.</h5>
            </div>
        </div>*@
    <hr class="bg-secondary mb-4 w-50">

    @*<div class="modal fade bd-digitalEkran-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <img class="img-fluid" src="~/Content/images/EczaneNobetSistemi/digitalEkran.png" alt="Dijital Nöbetçi Ekranı" />
                </div>
            </div>
        </div>
        data-toggle="modal" data-target=".bd-digitalEkran-modal-xl"*@

    <div class="row">
        @*<div class="col-md-4 mb-3 text-center">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><span class="text-danger">Sistem</span> Arayüzleri</h5>
                        <a class="nav-link" href="@Url.Action("EczaneNobetSistemiDetay")">
                            <img class="img-fluid mb-2" src="~/Content/images/EczaneNobetSistemi/arayuz-design.jpg" alt="Nöbetçi Eczaneler" style="height:50%; width:50%" />

                            @*<img class="img-fluid" src="~/Content/images/dijitalEkranKucuk.jpg" alt="Dijital Nöbetçi Ekranı" style="height:78%; width:78%" />
                        </a>
                    </div>
                </div>
            </div>*@
        <div class="col-md-8 mb-3 text-center">

            <div class="alert alert-warning fade show" role="alert">

                <h6>
                    @*<i class="fa fa-hand-o-right" aria-hidden="true"></i>*@
                    <i class="fa fa-rss text-info" aria-hidden="true"></i>
                    <span class="font-weight-bold">
                        Online Nöbetçi Eczane Tabela
                        Sistemine
                        @*<a class="card-link" href="@Url.RouteUrl("DijitalTabela")">ONET sistemimize</a>*@
                        bir göz atın.
                    </span>
                </h6>
            </div>

        </div>

        <div class="col-md-4 mb-3 text-center">
            <div class="card border-primary">
                <div class="card-body bg-secondary">
                    @*<h5 class="card-title"><span class="text-danger">Online Nöbetçi Tabelası</span></h5>*@
                    <a class="h5 card-link text-white text-center" href="@Url.RouteUrl("DijitalTabela")"><span class="fa fa-hand-o-right"></span> Online Nöbetçi Tabelası</a>

                    <img class="img-fluid mt-2" src="~/Content/images/EczaneNobetSistemi/digitalEkran.png" alt="Dijital Nöbetçi Ekranı" />
                    @*<a class="card-link" href="@Url.RouteUrl("DijitalTabela")">

                        </a>*@

                </div>
            </div>
        </div>


    </div>

    @*<hr class="bg-info mb-4" />*@



</div>

@*<hr class="bg-info mb-5" />

    <div class="row">
        <div class="col-md-4 mb-3 text-center">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Takas Takip Sistemi</h5>
                    <p>
                        Eczanelere özel takas
                    </p>
                    <a class="nav-link" href="http://takastakip.com/" target="_blank" role="button">
                        <img class="img-fluid" src="~/Content/images/ph1.png" alt="Takas Takip Sistemi" style="height:43.5%; width:43.5%" />
                    </a>
                </div>
            </div>
        </div>
    </div>*@

@section scripts{
    <script>
        $(document).ready(function () {

            //$('#jumbotronYazi').text("Dijital nöbetçi eczane tabelası");
            $('#navItemReferans').hide();

        });

    </script>
}

