@model IEnumerable<AyniGunTutulanNobetDetay>

<div id="div1">

    @if (Model.Count() > 0)
    {
        <table id="gridT" class="table table-sm">
            <thead class="thead-light">
                <tr>
                    <th>
                        @Html.DisplayName("Nöbet Grubu 1")
                    </th>
                    <th>
                        @Html.DisplayName("Eczane 1")
                    </th>
                    <th>
                        @Html.DisplayName("Nöbet Grubu 2")
                    </th>
                    <th>
                        @Html.DisplayName("Eczane 2")
                    </th>
                    <th>
                        @Html.DisplayName("En Son Aynı Gün Nöbet Tarihi")
                    </th>
                    <th>
                        @Html.DisplayName("Aynı Gün Nöbet Sayısı")
                    </th>
                    <th>
                        @Html.DisplayName("Aynı Gün Nöbet Tutamayacakları Gün Sayısı")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="ikiliEczaneler">
                @foreach (var item in Model)
                {
                    <tr class="gridtr">
                        <td>
                            @Html.DisplayFor(modelItem => item.NobetGrupAdi1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EczaneAdi1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NobetGrupAdi2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EczaneAdi2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EnSonAyniGunNobetTarihi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AyniGunNobetSayisi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AyniGunNobetTutamayacaklariGunSayisi)
                        </td>
                        <td>
                            @{
                                var target = $"#islem{@item.Id}";
                            }
                            <button class="btn btn-sm btn-secondary d-sm-block d-md-none" type="button" data-toggle="collapse" data-target="@target" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="fa fa-cog"></span>
                            </button>
                            <div class="collapse d-md-block" id="@target.Remove(0, 1)">
                                <a class="btn btn-outline-success py-0 btn-sm" title="Düzenle" href="@Url.Action("Edit", null, new { id = item.Id, area = "EczaneNobet" })"><span class="fa fa-edit"></span></a>
                                <a class="btn btn-outline-primary py-0 btn-sm" title="Detaylar" href="@Url.Action("Details", null, new { id = item.Id, area = "EczaneNobet" })"><span class="fa fa-info-circle"></span></a>
                                <a class="btn btn-outline-danger py-0 btn-sm" title="Sil" href="@Url.Action("Delete", null, new { id = item.Id, area = "EczaneNobet" })"><span class="fa fa-trash"></span></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="...">
        <ul class="navbar-nav">
            <li class="nav-link" id="myPaging">
            </li>
        </ul>
        <div class="nav-item">Toplam Kayıt: <span id="toplamKayitSayisi">@ViewBag.IkiliEczaneSayisi</span></div>
    </nav>

</div>
