@model IEnumerable<NobetUstGrupDetay>

@{
    var rolId = ViewBag.rolId;
    ViewBag.Title = "Nöbet Üst Gruplar | Nöbet Sistemi";
}

<h4>
    Nöbet Üst Gruplar
    @if (rolId < 4)
    {
        <a class="btn btn-outline-success btn-sm ml-5" href="@Url.Action("Create", null, new { area= "EczaneNobet" })"><span class="fa fa-plus"></span> Yeni Kayıt</a>
    }
</h4>

<hr />

<table class="table table-hover table-sm">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EczaneOdaAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>
            <th>
                @Html.DisplayName("ONEE Max Mesafe (m)")
            </th>
            <th>
                @Html.DisplayName("Time Limit")
            </th>
            <th>
                @Html.DisplayName("Önceki Sonuçlar Gösterilsin Mi")
            </th>
            <th>
                Durum
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EczaneOdaAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OneedeGosterilecekEnUzakMesafe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaslamaTarihindenOncekiSonuclarGosterilsinMi)
            </td>
            <td>
                @if (item.BitisTarihi != null)
                {
                    <span class="badge badge-danger">
                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        Pasif
                    </span>
                }
                else
                {
                    <span class="badge badge-success">
                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        Aktif
                    </span>
                }
            </td>
            <td>
                @{
                    var target = $"#islem{@item.Id}";
                }
                <button class="btn btn-sm btn-secondary d-sm-block d-md-none" type="button" data-toggle="collapse" data-target="@target" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-cog"></span>
                </button>
                <div class="collapse d-md-block" id="@target.Remove(0,1)">
                    <a class="btn btn-outline-success py-0 btn-sm" title="Düzenle" href="@Url.Action("Edit", null, new { id = item.Id, area= "EczaneNobet" })"><span class="fa fa-edit"></span></a>
                    <a class="btn btn-outline-primary py-0 btn-sm" title="Detaylar" href="@Url.Action("Details", null, new { id = item.Id, area= "EczaneNobet" })"><span class="fa fa-info-circle"></span></a>
                    @if (rolId < 4)
                    {
                        <a class="btn btn-outline-danger py-0 btn-sm" title="Sil" href="@Url.Action("Delete", null, new { id = item.Id, area= "EczaneNobet" })"><span class="fa fa-trash"></span></a>
                    }
                </div>
            </td>
        </tr>
    }

</table>
