@model EczaneNobetGrupKisit

<h4>Eczane Nöbet Grup Kısıt Ekle</h4>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.NobetUstGrupKisitId, "NobetUstGrupKisitId", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.DropDownList("NobetUstGrupKisitId", null, htmlAttributes: new
                {
                    @class = "form-control selectpicker",
                     //multiple = "true",
                     //data_width = "auto",
                     data_actions_box = "true",
                     mobile = "true",
                     data_live_search = "true",
                     //data_selected_text_format = "count > 4",
                     title = "Kısıt Seçiniz..."
                 })
                @Html.ValidationMessageFor(model => model.NobetUstGrupKisitId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.EczaneNobetGrupId, "EczaneNobetGrupId", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.DropDownList("EczaneNobetGrupId", null, htmlAttributes: new
                {
                    @class = "form-control selectpicker",
                     //multiple = "true",
                     //data_width = "auto",
                     data_actions_box = "true",
                     mobile = "true",
                     data_live_search = "true",
                     //data_selected_text_format = "count > 4",
                     title = "Eczane Seçiniz..."
                 })
                @Html.ValidationMessageFor(model => model.EczaneNobetGrupId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PasifMi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.PasifMi)
                    @Html.ValidationMessageFor(model => model.PasifMi, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SagTarafDegeri, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SagTarafDegeri, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SagTarafDegeri, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VarsayilanPasifMi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.VarsayilanPasifMi)
                    @Html.ValidationMessageFor(model => model.VarsayilanPasifMi, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SagTarafDegeriVarsayilan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SagTarafDegeriVarsayilan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SagTarafDegeriVarsayilan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Aciklama, "Açıklama", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Aciklama, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Aciklama, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="submitEkle" value="Ekle" class="btn btn-outline-primary" />
                @Html.ActionLink("Eczane Nöbet Grup Kısıt Listesi", "Index", null, new { @class = "btn btn-outline-warning" })
            </div>
        </div>
    </div>
}


@section Styles{
    @Styles.Render("~/bundle/bootstrap-select/style")
}

@section Scripts{
    @Scripts.Render("~/bundle/bootstrap-select/scripts")
    @Scripts.Render("~/bundle/validation/scripts")

    @*<script>
            $(document).ready(function () {
                alert(1)
                $('input[name=Aciklama]').val('000000');
    </script>*@
}