@model EczaneNobetFeragatDetay

@{
    ViewBag.Title = "Details";
}

<h4>Eczane Nöbet Feragat Detaylar</h4>
<hr />

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EczaneNobetSonucId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EczaneNobetSonucId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.EczaneNobetSonucId }) |
    @Html.ActionLink("Listeye Dön", "Index")
</p>
