@model EczaneNobetGrupAltGrupDetay

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EczaneNobetGrupAltGrup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NobetGrupAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NobetGrupAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EczaneAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EczaneAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NobetAltGrupAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NobetAltGrupAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EczaneNobetGrupId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
