@model NobetGrupTalepDetay

@{
    ViewBag.Title = "Eczane Sil | Nöbet Sistemi";
}

<h4>Nöbetçi Talebi Sil</h4>
<hr />

<h5 class="text-danger">Silmek istediğinizden emin misiniz?</h5>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NobetGrupGorevTipId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NobetGrupGorevTipId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NobetGrupAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NobetGrupAdi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NobetGorevTipAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NobetGorevTipAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NobetciSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NobetciSayisi)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
