@model WM.Northwind.Entities.Concrete.Authorization.User

@{
    Layout = "~/Areas/EczaneNobet/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Details";
}

<h4>Kullanıcı Detaylar</h4>

<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaslamaTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaslamaTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BitisTarihi)
        </dt>

        <dd>
            @if (@Model.BitisTarihi != null)
            {
                @Model.BitisTarihi
            }
            else
            {
                <span>~</span>
            }
            @*@Html.DisplayFor(model => model.BitisTarihi)*@
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Listeye Dön", "Index")
</p>
