@model EczaneNobetSonuc

@{
    ViewBag.Title = "Eczane Nöbet Sonuç Ekle| Nöbet Sistemi";
}

<h4>Eczane Nöbet Ekle</h4>
<hr />

@using (Html.BeginForm("Create", "EczaneNobetSonuc"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.EczaneNobetGrupId, "EczaneNobetGrupId", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.DropDownList("EczaneNobetGrupId", null, htmlAttributes: new
                {
                    @class = "form-control selectpicker",
               data_live_search = "true",
               data_actions_box = "true",
               title = "Eczane seçiniz..."
           })
                @Html.ValidationMessageFor(model => model.EczaneNobetGrupId, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.TakvimId, "TakvimId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("TakvimId", null, htmlAttributes: new
                    {
                        @class = "form-control selectpicker",
                   data_live_search = "true",
                   data_actions_box = "true",
                   title = "Tarih seçiniz..."
               })
                    @Html.ValidationMessageFor(model => model.TakvimId, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group mb-2" id="fromTarih">
            @Html.Label("Nöbet Tarihi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group mb-2" style="width:260px; min-width:200px">

                    @Html.TextBox("NobetTarihi", null, new
                    {
                        @class = "form-control datepicker",
                       //data_toggle = "tooltip",
                       //data_placement = "top",
                       //title = "Başlangıç Tarihi",
                       autocomplete = "off",
                       placeHolder = "Nöbet Tarihi"
                   })

                </div>

            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.NobetGorevTipId, "Görev Tipi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("NobetGorevTipId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NobetGorevTipId, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-10">
                <div class="custom-control custom-checkbox mb-2">
                    @Html.CheckBox("YayimlandiMi", new { @class = "custom-control-input" })
                    <label class="custom-control-label" for="YayimlandiMi">Yayımlansın mı?</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ekle" class="btn btn-primary" />
                @Html.ActionLink("Listeye Dön", "PivotSonuclar", null, new { @class = "btn btn-warning" })
            </div>
        </div>
    </div>
}

@section Styles{
    @Styles.Render("~/bundle/bootstrap-select/style")
    @Styles.Render("~/bundle/bootstrap-datepicker/style")
}

@section Scripts{
    @Scripts.Render("~/bundle/validation/scripts")
    @Scripts.Render("~/bundle/bootstrap-select/scripts")
    @Scripts.Render("~/bundle/bootstrap-datepicker_tr/scripts")
}
