@model PivotGunFarklariDemoViewModel

<h4>
    Gün Farkları <span class="small text-danger">(Demo Sonuçlar)</span>
    <a class="card-link font-weight-normal" target="_blank" style="font-size:medium" href="@Url.Action("DemoPivot", null , new { area = "EczaneNobet" })">
        <i class="fa fa-hand-o-right" aria-hidden="true"></i> Pivot Tablo
    </a>
</h4>

<hr />

@{
    SelectList nobetGruplar = ViewBag.NobetGruplar;
    SelectList versiyonlar = ViewBag.Versiyonlar;
    SelectList gunGruplar = ViewBag.GunGruplar;
    int? sekil = ViewBag.sekil;
    int nobetGrup = ViewBag.nobetGrup;
    int toplamUzunluk = 8500;
}

@section styles{
    @Styles.Render("~/bundle/pivot/style")
    @*@if (sekil == 1)
        {
            <style>
                .pvtTotal, .pvtTotalLabel, .pvtGrandTotal {
                    display: none
                }
            </style>
        }*@
}


@using (Html.BeginForm("PivotGunFarklari", "EczaneNobetSonucDemo", FormMethod.Post, new { @class = "form-inline" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group mr-2 mt-1 mb-1">
        <label class="form-control-label font-weight-bold text-secondary mr-sm-2">Nöbet Grubu: </label>
        @Html.DropDownList("nobetGrup", nobetGruplar, htmlAttributes: new { @class = "form-control" }, optionLabel: "---Tümü---")
    </div>

    <div class="form-group mr-2 mt-1 mb-1">
        <label class="form-control-label font-weight-bold text-secondary mr-sm-2">Gün Grubu: </label>
        @Html.DropDownList("gunGrup", gunGruplar, htmlAttributes: new { @class = "form-control" }, optionLabel: "---Tümü---")
    </div>

    <div class="form-group mr-2 mt-1 mb-1">
        <label class="form-control-label font-weight-bold text-secondary mr-sm-2">Versiyon: </label>
        @Html.DropDownList("versiyon", versiyonlar, htmlAttributes: new { @class = "form-control" })
    </div>

    <div class="form-group mr-2 mt-1 mb-1">
        <button type="submit" class="btn btn-outline-danger mr-3">Sorgula</button>
    </div>
}

<hr />

@if (Model.GunFarklariTumSonuclar.Count() > 0)
{
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-ozet-tab" data-toggle="pill" href="#pills-ozet" role="tab" aria-controls="pills-ozet" aria-selected="true">Özet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-frekans-tab" data-toggle="pill" href="#pills-frekans" role="tab" aria-controls="pills-frekans" aria-selected="false">
                <i class="fa fa-signal" aria-hidden="true"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-dongu-tab" data-toggle="pill" href="#pills-dongu" role="tab" aria-controls="pills-dongu" aria-selected="false">
                <i class="fa fa-repeat" aria-hidden="true"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-detayliArtan-tab" data-toggle="pill" href="#pills-detayliArtan" role="tab" aria-controls="pills-detayliArtan" aria-selected="false">
                <i class="fa fa-list-ul" aria-hidden="true"></i>
                <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-detayliAzalan-tab" data-toggle="pill" href="#pills-detayliAzalan" role="tab" aria-controls="pills-detayliAzalan" aria-selected="false">
                <i class="fa fa-list-ul" aria-hidden="true"></i>
                <i class="fa fa-sort-numeric-desc" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-ozet" role="tabpanel" aria-labelledby="pills-ozet-tab">
            <div class="row mt-4">
                <div class="col-sm-12 col-md-12">
                    <h6>Özet İstatistik (Enb., Enk., Ort., Std.Sap. vb.)</h6>
                    <div id="gunFarkiMaksimum">
                        @* Pivot Table *@
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-frekans" role="tabpanel" aria-labelledby="pills-frekans-tab">
            <div class="row mt-4">
                <div class="col-sm-12 col-md-12">
                    <h6>Gün Farkı Frekans Aralıkları</h6>
                    <div id="gunFarkiFrekans">
                        @* Pivot Table *@
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-dongu" role="tabpanel" aria-labelledby="pills-dongu-tab">
            <div class="row mt-4">
                <div class="col-sm-12 col-md-12">
                    @if (ViewBag.ToplamUzunluk > toplamUzunluk)
                    {
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            Görüntülenmek istenen veri sayısı <strong>@ViewBag.ToplamUzunluk</strong> adettir. Bu tabloda en çok <strong>@toplamUzunluk</strong> adet veri gösterilebilmektedir. Lütfen aşağıdaki seçenekleri kullanarak veriyi sınırlandırınız !!!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    <h6>Gün Grup Döngüleri</h6>
                    <div id="donguler">
                        @* Pivot Table *@
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-detayliArtan" role="tabpanel" aria-labelledby="pills-detayliArtan-tab">
            <div class="row mt-4">
                <div class="col-sm-12 col-md-12">
                    @if (ViewBag.ToplamUzunluk > toplamUzunluk)
                    {
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            Görüntülenmek istenen veri sayısı <strong>@ViewBag.ToplamUzunluk</strong> adettir. Bu tabloda en çok <strong>@toplamUzunluk</strong> adet veri gösterilebilmektedir. Lütfen aşağıdaki seçenekleri kullanarak veriyi sınırlandırınız !!!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    <h6>Gün Farkı Detaylı (Baştan Sona)</h6>
                    <div id="gunFarkiDetayli">

                        @* Pivot Table *@
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-detayliAzalan" role="tabpanel" aria-labelledby="pills-detayliAzalan-tab">
            <div class="row mt-4">
                <div class="col-sm-12 col-md-12">
                    @if (ViewBag.ToplamUzunluk > toplamUzunluk)
                    {
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            Görüntülenmek istenen veri sayısı <strong>@ViewBag.ToplamUzunluk</strong> adettir. Bu tabloda en çok <strong>@toplamUzunluk</strong> adet veri gösterilebilmektedir. Lütfen aşağıdaki seçenekleri kullanarak veriyi sınırlandırınız !!!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    <h6>Gün Farkı Detaylı (Sondan Başa)</h6>
                    <div id="gunFarkiDetayli2">
                        @* Pivot Table *@
                    </div>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <p>Gösterilecek kayıt bulunmamaktadır.</p>
}

@section scripts{

    @Scripts.Render("~/bundle/queryui/scripts", "~/bundle/pivot/scripts")

    <script>
        setTimeout(function () { $('.alert').fadeOut(500); }, 3000);

        var _sonuclar = @Html.Raw(Json.Encode(Model.GunFarklariTumSonuclar.Select(s =>
                   new {GünFarkı = s.GunFarki,
                       s.Index,
                       Nöbet1 = s.Nobet1,
                       N1Yıl = s.Nobet1Yil,
                       N1Ay = s.Nobet1Ay,
                       N1Gun = s.Nobet1Gun,

                       Nöbet2 = s.Nobet2,
                       N2Yıl = s.Nobet2Yil,
                       N2Ay = s.Nobet2Ay,
                       N2Gun = s.Nobet2Gun,
                       Eczane = s.EczaneAdi,
                       GünGrup = s.GunGrup,
                       NöbetGrubu = s.NobetGrupAdi}).Take(toplamUzunluk)));

        var gunFarkiFrekanslar = @Html.Raw(Json.Encode(Model.GunFarklariFrekanslar.Select(s =>
                   new
                   {
                       GünFarkı = s.GunFarki,
                       Eczane = s.EczaneAdi,
                       GünGrup = s.GunGrup,
                       NöbetGrubu = s.NobetGrupAdi,
                       EczaneSayısı = s.FrekanstakiEczaneSayisi
                   })));

        var gunFarkiFrekansListesi;
        var gunFarkiDetaliArtanListesi;
        var gunFarkiDetayliAzalanListesi;
        var gunFarkiDonguListesi;

        //maksimum
        var gunFarkiOzetListesi = $(function table1() {
                $("#gunFarkiMaksimum").pivotUI(gunFarkiFrekanslar,
                    {
                        rows: ["NöbetGrubu"],
                        cols: ["GünGrup"],
                        vals: ["GünFarkı"],
                        aggregatorName: "Maximum",
                        rendererName: "Heatmap"
                    }
                );
        });

        $('#pills-ozet-tab').click(function () {
            gunFarkiOzetListesi;
        });

        //frekans
        $('#pills-frekans-tab').click(function () {
            if (gunFarkiFrekansListesi == null) {
                gunFarkiFrekansListesi = $(function table2() {
                    $("#gunFarkiFrekans").pivotUI(gunFarkiFrekanslar,
                        {
                            rows: ["GünGrup", "NöbetGrubu"],
                            cols: ["GünFarkı"],
                            vals: ["EczaneSayısı"],
                            aggregatorName: "Integer Sum",
                            rendererName: "Heatmap"
                        }
                    );
                });
            }
            else {
                gunFarkiFrekansListesi;
            }

        });
        //detaylı
        $('#pills-detayliArtan-tab').click(function () {

            if (gunFarkiDetaliArtanListesi == null) {
                gunFarkiDetaliArtanListesi = $(function table3() {
                    $("#gunFarkiDetayli").pivotUI(_sonuclar,
                        {
                            rows: ["NöbetGrubu", "Nöbet1", "Nöbet2", "Index", "Eczane"],
                            cols: ["GünGrup"],
                            vals: ["GünFarkı"],
                            aggregatorName: "Integer Sum",
                            rendererName: "Heatmap"
                        }
                    );
                });
            }
            else {
                gunFarkiDetaliArtanListesi;
            }
        });

        //detaylı-azalan
        $('#pills-detayliAzalan-tab').click(function () {

            if (gunFarkiDetayliAzalanListesi == null) {
                gunFarkiDetayliAzalanListesi = $(function table4() {
                    $("#gunFarkiDetayli2").pivotUI(_sonuclar,
                        {
                            rows: ["NöbetGrubu", "Nöbet2", "Nöbet1", "Index", "Eczane"],
                            cols: ["GünGrup"],
                            vals: ["GünFarkı"],
                            aggregatorName: "Integer Sum",
                            rendererName: "Heatmap"
                        }
                    );
                });
            }
            else {
                gunFarkiDetayliAzalanListesi;
            }

        });
        //döngü
        $('#pills-dongu-tab').click(function () {
            if (gunFarkiDonguListesi == null) {
                gunFarkiDonguListesi = $(function table5() {
                    $("#donguler").pivotUI(_sonuclar,
                        {
                            rows: ["NöbetGrubu", "GünGrup", "Index"],
                            cols: ["N1Yıl", "N1Ay"],
                            vals: ["GünFarkı"],
                            aggregatorName: "Count",
                            rendererName: "Heatmap"
                        }
                    );
                });
            }
            else {
                gunFarkiDonguListesi;
            }
        });


    </script>
}